     RewriteEngine On
     RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /html/(.*).html\ HTTP/
     RewriteRule .* https://example.com/html/%1 [R=301,L]
     RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /html/(.*)\ HTTP/
     RewriteRule .* %1.html [L]
